.footer {
  max-width: calc(100% - 400px);
  margin: 0 auto 36px;
  color: #545454;
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 200px);
  }
}
@media screen and (max-width: 430px) {
  .footer {
    max-width: calc(100% - 40px);
  }
}
