.gallery__container {
  max-width: calc(100% - 400px);
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.gallery__image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.gallery__card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
.gallery__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 15px 31px 21px;
}
.gallery__title {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gallery__like-button {
  margin-left: auto;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.gallery__like-button :hover {
  opacity: 60%;
}
.gallery__icon-like_active {
  content: url("../images/like-active.svg");
  opacity: 100%;
}
.gallery__delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.gallery__delete-button:hover {
  opacity: 60%;
}
@media screen and (max-width: 768px) {
  .gallery__container {
    max-width: calc(100% - 200px);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 430px) {
  .gallery__container {
    max-width: calc(100% - 40px);
    grid-template-columns: repeat(1, 1fr);
  }
}
