.popup {
  visibility: hidden;
  position: fixed;
  background: #000000a8;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
}
.popup_visible {
  visibility: visible;
}
.popup__close-button {
  position: absolute;
  right: -36px;
  top: -38px;
  background: none;
  border: none;
  cursor: pointer;
}
.popup__close-button:hover {
  opacity: 60%;
}
.popup__container {
  background: #fff;
  padding: 30px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__form input {
  width: 100%;
  margin-top: 24px;
  padding: 16px 0px;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
}
.popup__title {
  margin-bottom: 30px;
}
.popup__button.popup__button_save {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 1em;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}
.popup__button.popup__button_save:hover {
  opacity: 60%;
}
.popup__container-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__images {
  max-width: 75vw;
  max-height: 75vh;
}
.popup__caption {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #fff;
  margin-top: 10px;
}
.popup__error_visible {
  color: red;
  font-size: 12px;
}
.popup__form input.popup__input_type_error {
  border-bottom: 2px solid red;
}
button.popup__button.popup__button_save.popup__button_disabled {
  background: none;
  color: gray;
  border: 1px solid;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .popup__container {
    width: 60%;
  }
}
@media screen and (max-width: 430px) {
  .popup__container {
    width: calc(100% - 40px);
  }
  .popup__close-button {
    right: 0;
    top: -48px;
  }
}
