.profile {
  max-width: calc(100% - 400px);
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
/* Profile component */
.profile__avatar-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 30px;
  cursor: pointer;
}

.profile__avatar-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__avatar-container:hover .profile__avatar-edit-button {
  opacity: 1;
}
img.profile__avatar-edit-icon {
  width: 26px;
}
.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.profile__name {
  margin: 0px;
}
.profile__about {
  margin-top: 16px;
}
.profile__button {
  background-color: #000;
  border: 1px solid #fff;
}
.profile__edit-button {
  height: 27px;
  width: 27px;
  margin-left: 18px;
  cursor: pointer;
}
.profile__info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.profile__add-button {
  margin-left: auto;
  padding: 14px 64px;
  cursor: pointer;
}
.profile__edit-button:hover,
.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: calc(100% - 200px);
    flex-direction: column;
  }
  .profile__avatar {
    margin-right: 0;
  }
  .profile__add-button {
    margin: 36px auto 0;
    width: 100%;
  }
  .profile__info {
    text-align: center;
    margin-top: 30px;
  }
}
@media screen and (max-width: 430px) {
  .profile {
    max-width: calc(100% - 40px);
    flex-direction: column;
  }
}
